{% extends "base.html" %}

{% block cuerpo%}
<div class="row">
    <div class="col-md-4 offset-md-4"> <!-- offset-md-4 para centrar el contenido --> 
        <!-- inicio de la tarjeta card --> 
        <div class="card">
            <div class="card-body">

                <form action="/editarMateria/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                    <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                    value={{mismaterias.codigo}} minLenght="6" maxLenght="6" readonly required>
                    </div>

                    <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    value={{mismaterias.nombre}} maxLenght="100" required>
                    </div>

                    <div class="form-group py-2">
                    <input type="text" id="numcreditos" name="numcreditos" class="form-control"
                    value="1" min="1" max="9" required>
                    </div>
                    
                    <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>

                </div>
            </div>
        <!-- fin de la tarjeta card -->
    </div> <!-- la columna -->
</div> <!-- la fila -->
{%endblock%}